.fourth-section {
  margin-top: 400px;
  padding-bottom: 222px;
}

.fourth-section h1 {
  color: #ffffff;
}

.fourth-section .content-item {
  color: rgba(255, 255, 255, 0.9);
}

.fourth-section .button-content a {
  color: rgba(253, 180, 97, 0.82);
  border-color: rgba(253, 180, 97, 0.82);
}
