.third-section {
  padding-top: 322px;
}

.collage-item.pic-four {
  z-index: 5;
  top: -62px;
  right: 42px;
}

.collage-item.pic-five {
  z-index: 10;
  top: 108px;
  right: 200px;
}

.collage-item.pic-six {
  top: 200px;
  right: 0;
}
